
body{
    background-color: grey;


}


#zone1{
    background-image: url(../images/df-min.jpg);
    height: 600px;
    background-size: 60%;
    margin-right: 25px;
    background-repeat: no-repeat;
    background-position: center;
    margi
    

}

